* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
.main-content {
  flex: 1;
}
.admin-bar header{
  top: 30px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  padding-top:10px;
  padding-bottom: 10px;
  z-index: 1;
}

header nav {
  float: left;
  height: 100%;
}

#menu-navigazione.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#menu-navigazione.menu .menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu-navigazione.menu .menu-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

#menu-navigazione.menu .menu-item a:hover {
  color: #EDC81A;
}

nav i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.wrapHamburger {
  margin-bottom: 10px;
}

.wrapMenuResponsive {
  display: none;
  background-color: rgb(106, 106, 106);
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}
.logoPic {
  text-align: center;
  height: 100%;
  width: 100%;
  line-height: 30px;
}
.logoPic img {
  height: 30px;
}
main #wrapIntro {
  background-color: #000;
  height: calc(100vh - 80px);
}

main #wrapIntroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%
}

.logo img {
  max-width: 100%;
  height: 100px;
}

.frasePromozionale h2 {
  color: #fff;
  font-size: 24px;
  margin-top: 20px;
}

.wrapButton {
  padding-top: 70px;
}

.wrapButton .btnIscriviti {
  font-size: 25px;
  border: 4px solid #EDC81A;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 60px;
  padding-left: 60px;
  text-decoration: none;
}

.wrapButton .btnIscriviti:hover {
  color: #EDC81A;
}

.wrapArrow {
  margin-top: 70px;
  color: #fff;
}

.wrapArrow i {
  font-size: 60px;
}

/*******MEDIA QUERY HEADEER E WRAPINTRO*/
@media screen and (max-width: 850px) {
  .logo img {
    max-width: 100%;
    height: auto;
  }

  .frasePromozionale h2 {
    font-size: 16px;
  }

  .wrapButton .btnIscriviti {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
    text-decoration: none;
  }
}

@media screen and (max-width: 570px) {
  .frasePromozionale h2 {
    font-size: 12px;
  }

  .wrapButton .btnIscriviti {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
    text-decoration: none;
  }
}

@media screen and (max-width: 515px) {
  .wrapButton .btnIscriviti {
    font-size: 15px;
  }
}

/***************************************/
#wrapSpiegazioneGenerale .wrapSpiegazioneGeneraleContent {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.wrapImgKart {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 40px;
}

.wrapSpiegazioneText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  height: 100%;
}

.wrapSpiegazioneText h2 {
  font-size: 20px;
}

.wrapSpiegazioneText ul {
  list-style-type: none;
}

.wrapSpiegazioneText ul li {
  margin-top: 10px;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

/*******MEDIA QUERY SPIEGAZIONE GENERALE*/
@media screen and (max-width: 1231px) {
  .wrapImgKart img {
    width: 400px;
    height: 300px;
  }

  .wrapSpiegazioneText h2 {
    font-size: 18px;
  }

  .wrapSpiegazioneText {
  }

  .wrapSpiegazioneText .wrapButton .btnIscriviti {
    font-size: 20px;
  }
}

@media screen and (max-width: 1015px) {
  .wrapImgKart img {
    width: 300px;
    height: 200px;
  }
  .wrapSpiegazioneText .wrapButton .btnIscriviti {
    font-size: 12px;
  }
}

@media screen and (max-width: 897px) {
  .wrapImgKart img {
    width: 200px;
    height: 100px;
  }
  #wrapTitoloCategoriePiloti {
    padding-top: 40px;
  }

  #wrapSpiegazioneGenerale .wrapSpiegazioneGeneraleContent {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .wrapImgKart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
  }

  .wrapImgKart img {
    max-width: 100%;
    height: auto;
  }

  .wrapSpiegazioneText .wrapButton {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {

  .wrapSpiegazioneText h2 {
    font-size: 16px;
  }

  .wrapSpiegazioneText {
    font-size: 12px;
  }
}
*
/***************************************/
#categoriePiloti {
  height: 100vh;
  width: 100%;
}

#wrapTitoloCategoriePiloti img {
  max-width: 100%;
  height: auto;
}

.wrapContent {
  display: flex;
}

.wrapContent #wrapImgCat {
  width: 40%;
  height: 100%;
}

.wrapContent #wrapTextCat {
  width: 60%;
}

.wrapContent #wrapTextCat p {
  text-align: right;
}

.riga1 {
  width: calc(100% / 4);
  height: 100%;
  float: left;
}

.riga1 i {
  font-size: 40px;
  text-align: center;
}

.riga1 img {
  max-width: 100%;
  height: 36px;
}

.riga1 {
  text-align: center;
}

.yellow {
  color: #EDC81A;
}

#wrapTextCat .wrapButton {
  text-align: right;
}

/*******MEDIA QUERY SECTION CATEGORIE PILOTI*/
@media screen and (max-width: 1231px) {
  #wrapTextCat .wrapButton .btnIscriviti {
    font-size: 20px;
  }
}

@media screen and (max-width: 897px) {
  #wrapTextCat .wrapButton .btnIscriviti {
    font-size: 12px;
  }

  #wrapTextCat p {
    font-size: 16px;
  }
}
@media screen and (max-width: 736px) {
  #categoriePiloti {
    height: 100%;
    width: 100%;
  }
  #wrapTextCat .wrapButton .btnIscriviti {
    font-size: 12px;
  }

  #wrapTextCat p {
    font-size: 13px;
  }
  #wrapTextCat .wrapButton {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 700px) {
  .wrapContent {
    display: flex;
    flex-direction: column;
  }

  .wrapContent #wrapImgCat {
    width: 100%;
    height: 100%;
  }

  .wrapContent #wrapTextCat {
    width: 100%;
    padding-top: 20px;
  }

  #wrapTextCat .wrapButton {
    text-align: center;
  }
}

/***************************************/
#circuiti,
#modalita {
  height: 100%;
  width: 100%;
  background-color: #000;
}

#wrapTitoloCircuiti {
  text-align: right;
}

#wrapTitoloCircuiti img {
  max-width: 100%;
  height: auto;
}

#wrapTextCircuiti {
  width: 60%;
  height: 100%;
  color: #fff;
}

#wrapLogoCircuiti {
  width: 40%;
  height: 100%;
}

.rigaLogoCircuiti {
  width: calc(100% / 2);
  height: 100px;
  float: left;
}

.rigaLogoCircuiti img {
  max-width: 100%;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
}

/*******MEDIA QUERY SECTION circuiti*/
@media screen and (max-width: 998px) {
  #wrapLogoCircuiti {
    display: none;
  }

  #wrapTextCircuiti {
    width: 100%;
  }
}

/***************************************/
#wrapModalitaContent {
  display: flex;
  height: 100%;
}

#wrapModalitaContent>div {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 30px;
}
#wrapRegolamento {
  padding-left: 10px;
}
#wrapImgRegolamento {
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#wrapImgRegolamento img {
  max-width: 100%;
  height: 100%;
  cursor: pointer;
}

#wrapPagamenti h2 {
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#wrapPagamenti p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

/*******MEDIA QUERY SECTION modalita*/
@media screen and (max-width: 1000px) {
  #wrapModalitaContent {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #wrapModalitaContent>div {
    width: 100%;
  }
}

/***************************************/
footer {
  background-color: #EDC81A;
  height: 200px;
}

#footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

/**ARTICOLI INTERNI **/
.wrapArticolo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapArticolo h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.wrapArticolo p {
  margin-top: 20px;
  margin-bottom: 20px;
}

/**FORM MAIL **/
#wpcf7-f96-p5-o1 {
  border: 1px solid #EDC81A;
  padding: 10px;
}
.wpcf7-text {
  width: 100%;
  height: 40px;
}
